<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%}<title>Home Page</title>{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% block header %}
    <header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category , message  in messages %}
                {% if category == "Error"%}
                    <p>❌ {{message}}</p> 
                {% endif %}
                {% if category == "Success"%}
                    <p>✅ {{message}}</p> 
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <nav>
        <a href="home"><strong>Electrode</strong></a>

        <form action="/search" method="GET" style="display: inline;">
            <input type="text" name="search" placeholder="Search">
            <button type="submit">Search</button>
        </form>

    <form action="/category" method="GET">
        <select name="category">
            <option value="1">Smartphones</option>
            <option value="2">Laptops</option>
            <option value="3">Audio & Headphones</option>
        </select>
        <button type="submit">Filter</button>
    </form>
            <a href="/orders">Orders</a>
            <a href="/cart">My Cart</a>
            <a href="/login">Logout</a>
    </nav>
    </header>
    {% endblock %}
    {% block main %}
    <main>
        {%for product in products%}
        <div>
            <a href="/product/{{product[0]}}">
            <img src="{{ url_for('static', filename=product[5]) }}" width="200">
            </a>
            <br>
            <br>
            <p>{{product[1]}}</p>
            <p>{{product[3]}}</p>
            <a href="/product/{{product[0]}}">View Details</a>
        </div>
        <br>
        <br>
        {% endfor %}
    </main>
    {% endblock %}
</body>
</html>